{% load static wagtailimages_tags wagtailroutablepage_tags wagtailuserbar wagtailcore_tags cache menus_tags  %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132706980-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-132706980-1');
    </script>
    {% include "includes/meta_header.html" %}
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.morozovblog.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.morozovblog.png">
    <link rel="manifest" href="/static/img/favicons/site.morozovblog.webmanifest">
    <link rel="mask-icon" href="/static/img/favicons/apple-touch-icon.morozovblog.png" color="#5bbad5">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dracula.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.f1c634343eef.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(68398459, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68398459" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% include "header_nav.html" %}
{% block content %}{% endblock %}
<script type="text/javascript" src="../static/js/app.min.87a1ad2d7076.js"></script>
<script type="text/javascript" src="/static/js/app.min.87a1ad2d7076.js"></script>
<!--        {% include "includes/email_notifications.html" %}-->
{% include "includes/footer.html" %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="arrow-right" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 18 11"
            xml:space="preserve">
            <polygon points="17.7,5.6 9,0.1 9,4 0,4 0,7 9,7 9,11 "></polygon>
        </symbol>
    <symbol id="search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
        <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
    </symbol>

    <symbol id="close-icon" viewBox="0 0 31 27" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g id="Close" stroke="none" stroke-width="1">
            <path d="M15.6621746,15.783495 L7.56066017,23.8850094 C6.97487373,24.4707958 6.02512627,24.4707958 5.43933983,23.8850094 C4.85355339,23.299223 4.85355339,22.3494755 5.43933983,21.7636891 L13.5408543,13.6621746 L5.43933983,5.56066017 C4.85355339,4.97487373 4.85355339,4.02512627 5.43933983,3.43933983 C6.02512627,2.85355339 6.97487373,2.85355339 7.56066017,3.43933983 L15.6621746,11.5408543 L23.7636891,3.43933983 C24.3494755,2.85355339 25.299223,2.85355339 25.8850094,3.43933983 C26.4707958,4.02512627 26.4707958,4.97487373 25.8850094,5.56066017 L17.783495,13.6621746 L25.8850094,21.7636891 C26.4707958,22.3494755 26.4707958,23.299223 25.8850094,23.8850094 C25.299223,24.4707958 24.3494755,24.4707958 23.7636891,23.8850094 L15.6621746,15.783495 Z"></path>
        </g>
    </symbol>

    <symbol id="facebook" viewBox="0 0 20 20">
        <path d="M11,10h2.6l0.4-3H11V5.3c0-0.9,0.2-1.5,1.5-1.5H14V1.1c-0.3,0-1-0.1-2.1-0.1C9.6,1,8,2.4,8,5v2H5.5v3H8v8h3V10z"></path>
    </symbol>
    <symbol id="twitter" viewBox="0 0 20 20">
        <path d="M19,4.74 C18.339,5.029 17.626,5.229 16.881,5.32 C17.644,4.86 18.227,4.139 18.503,3.28 C17.79,3.7 17.001,4.009 16.159,4.17 C15.485,3.45 14.526,3 13.464,3 C11.423,3 9.771,4.66 9.771,6.7 C9.771,6.99 9.804,7.269 9.868,7.539 C6.795,7.38 4.076,5.919 2.254,3.679 C1.936,4.219 1.754,4.86 1.754,5.539 C1.754,6.82 2.405,7.95 3.397,8.61 C2.79,8.589 2.22,8.429 1.723,8.149 L1.723,8.189 C1.723,9.978 2.997,11.478 4.686,11.82 C4.376,11.899 4.049,11.939 3.713,11.939 C3.475,11.939 3.245,11.919 3.018,11.88 C3.49,13.349 4.852,14.419 6.469,14.449 C5.205,15.429 3.612,16.019 1.882,16.019 C1.583,16.019 1.29,16.009 1,15.969 C2.635,17.019 4.576,17.629 6.662,17.629 C13.454,17.629 17.17,12 17.17,7.129 C17.17,6.969 17.166,6.809 17.157,6.649 C17.879,6.129 18.504,5.478 19,4.74"></path>
    </symbol>
    <symbol id="instagram" viewBox="0 0 20 20">
        <path d="M13.55,1H6.46C3.45,1,1,3.44,1,6.44v7.12c0,3,2.45,5.44,5.46,5.44h7.08c3.02,0,5.46-2.44,5.46-5.44V6.44 C19.01,3.44,16.56,1,13.55,1z M17.5,14c0,1.93-1.57,3.5-3.5,3.5H6c-1.93,0-3.5-1.57-3.5-3.5V6c0-1.93,1.57-3.5,3.5-3.5h8 c1.93,0,3.5,1.57,3.5,3.5V14z"></path>
        <circle cx="14.87" cy="5.26" r="1.09"></circle>
        <path d="M10.03,5.45c-2.55,0-4.63,2.06-4.63,4.6c0,2.55,2.07,4.61,4.63,4.61c2.56,0,4.63-2.061,4.63-4.61 C14.65,7.51,12.58,5.45,10.03,5.45L10.03,5.45L10.03,5.45z M10.08,13c-1.66,0-3-1.34-3-2.99c0-1.65,1.34-2.99,3-2.99s3,1.34,3,2.99 C13.08,11.66,11.74,13,10.08,13L10.08,13L10.08,13z"></path>
    </symbol>
    <symbol id="youtube" viewBox="0 0 20 20">
        <path d="M15,4.1c1,0.1,2.3,0,3,0.8c0.8,0.8,0.9,2.1,0.9,3.1C19,9.2,19,10.9,19,12c-0.1,1.1,0,2.4-0.5,3.4c-0.5,1.1-1.4,1.5-2.5,1.6 c-1.2,0.1-8.6,0.1-11,0c-1.1-0.1-2.4-0.1-3.2-1c-0.7-0.8-0.7-2-0.8-3C1,11.8,1,10.1,1,8.9c0-1.1,0-2.4,0.5-3.4C2,4.5,3,4.3,4.1,4.2 C5.3,4.1,12.6,4,15,4.1z M8,7.5v6l5.5-3L8,7.5z"></path>
    </symbol>
    <symbol id="github" viewBox="0 0 20 20">
        <g transform="translate(-140.000000, -7559.000000)" fill="#ffffff">
            <g id="icons" transform="translate(56.000000, 160.000000)">
                <path d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                      id="github-[#142]"></path>
            </g>
        </g>
    </symbol>
</svg>
{# Global javascript #}
<script type="text/javascript" src="{% static 'js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
